/* Global */
.bg-dark-blue {
    background-color: #212529;
}
.future-font {
  font-family: 'Orbitron', sans-serif;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.bg-dark-blue-light {
  background-color: #30353a;
}
.bg-dark-red {
    background-color: #971919;
}
.color-dark-red {
    color: #971919;
}
.color-dark-white-link {
  color: white;
}
.color-dark-white-link:hover {
  color: #971919;
  cursor: pointer;
  font-weight: bold;
}
.color-dark-blue {
    color: #212529;
}
.color-dark-blue:hover {
    color: #212529;
    font-weight: bold;
}
.bg-semi-dark {
  background-color: #971919;
}
.cursor-pointer:hover {
  cursor: url('assets/icons8-rebel-48.png'), auto;
}
/* header */
.dm-logo {
  width: 300px;
}
header {
  font-family: 'Orbitron', sans-serif;
}
.header-class {
    min-height: 100vh;
    background: url(assets/portada.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.header-class-sub {
    background-color: rgba(0,0,0,0.75);
}
.cover {
    background-color: rgba(0,0,0,0.75);
}
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: white;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}
  
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: white
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}
.dropper {
    margin-left: 1rem;
}
.cover-title {
    width: 75%;
    font-family: 'Orbitron', sans-serif;
}
.containerin {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
/* \About me */
.card-image {
    border: 1px solid #971919!important;
    border-width: 5px!important;
}
.language:hover{
    font-weight: bold;
    cursor: pointer;
}

/* Contact */
.planer {
    position: absolute;
    bottom: 0;
}
.linker:hover {
    font-weight: bold;
}
.form-control {
  background-color: #30353a;
  color: #fff;
}
.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  background-color: #30353a;
  color: #fff;
}
.form-control:after {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  background-color: #30353a;
  color: #fff;
}
.form-select:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  background-color: #30353a;

}
.form-select{
  background-color: #30353a;
  color: #fff;
}
.form-check-input {
  background-color: #30353a;
}
.form-check-input:checked {
  border-color: #FF0000;
  background-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.button-formulaire:hover {
  border-color: #198754;
}
.button-formulaire:hover {
  border-color: #198754;
}




/* Media Quieries */

@media (max-width: 600px) {
    .planer {
        display: none;
    }
    .dm-logo {
      width: 150px;
    }
}


/* Animations */
.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.slide-out {
	-webkit-animation: slide-out-fwd-tr 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
	        animation: slide-out-fwd-tr 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
}
.slide-out3 {
	-webkit-animation: slide-out-fwd-tr3 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
	        animation: slide-out-fwd-tr3 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
}
.wobble-hor-bottom2 {
	-webkit-animation: wobble-hor-bottom 5s infinite ;
	        animation: wobble-hor-bottom 5s infinite ;
}
.slide-fwd-center {
	-webkit-animation: slide-fwd-center 1s ease-in-out both;
	        animation: slide-fwd-center 1s ease-in-out both;
}
.rotate-center {
	-webkit-animation: rotate-center 10s linear infinite both;
	        animation: rotate-center 10s linear infinite both;
}
.color-change-3x {
	-webkit-animation: color-change-3x 2s linear infinite alternate both;
	        animation: color-change-3x 2s linear infinite alternate both;
}
.bounce-out-bck {
	-webkit-animation: bounce-out-bck 1.2s infinite both;
	        animation: bounce-out-bck 1.2s infinite both;
}
.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 2.2s infinite both;
	        animation: wobble-hor-bottom 2.2s infinite both;
}
.techno-card {
  transition: 1s;
  color: #fff;
}
.techno-card:hover{
  /* cursor: url('assets/icons8-computadora-64.png'), auto; */
  background-color: #971919;
  border: #fff;
}
.ping {
	-webkit-animation: ping 5s ease-in-out infinite both;
	        animation: ping 5s ease-in-out infinite both;
}
@-webkit-keyframes tracking-in-contract-bck {
0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
}
40% {
    opacity: 0.6;
}
100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
}
}
@keyframes tracking-in-contract-bck {
0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
}
40% {
    opacity: 0.6;
}
100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
}
}
@-webkit-keyframes slide-out-fwd-tr {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(300px) translateY(-150px) translateX(200px);
              transform: translateZ(300px) translateY(-150px) translateX(200px);
      opacity: 1;
    }
}
@keyframes slide-out-fwd-tr {
0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
}
100% {
    -webkit-transform: translateZ(300px) translateY(-150px) translateX(200px);
            transform: translateZ(300px) translateY(-150px) translateX(200px);
    opacity: 0;
}
}
@keyframes slide-out-fwd-tr2 {
  0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
  }
  100% {
      -webkit-transform: translateZ(-300px) translateY(-20px) translateX(0px);
              transform: translateZ(-300px) translateY(-20px) translateX(0px);
      opacity: 1;
  }
  }
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
@-webkit-keyframes rotate-center {
0% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
 @-webkit-keyframes color-change-3x {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: #971919;
  }
}
@keyframes color-change-3x {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: #971919;
  }
}
@-webkit-keyframes bounce-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateZ(-110px);
            transform: translateZ(-110px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateZ(-200px);
            transform: translateZ(-200px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateZ(0) scale(1);
            transform: translateZ(0) scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-900px) scale(0);
            transform: translateZ(-900px) scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
}
@keyframes bounce-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateZ(-110px);
            transform: translateZ(-110px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateZ(-200px);
            transform: translateZ(-200px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateZ(0) scale(1);
            transform: translateZ(0) scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-900px) scale(0);
            transform: translateZ(-900px) scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
}
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0.4;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0.4;
  }
}









  
  


/* Other */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    opacity: 0.5;
}

